<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="CRSA465">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import CRSA465 urdf file -->
    <xacro:include filename="$(find CRSA465)/urdf/CRSA465.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="CRSA465.ros2_control.xacro" />


    <!-- <xacro:CRSA465_ros2_control name="CRSA465" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
